
@{
    ViewBag.Title = "Customer Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Home</h2>

<hr />
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">

            
          @Html.ActionLink("Home", "Index", new { }, new { @class = "list-group-item" })
          @Html.ActionLink("Find Services", "FindServices", new { }, new { @class = "list-group-item" })          
          @Html.ActionLink("Inbox", "Inbox", "Customer", new { id = Model.Cust.CustId}, new{ @class = "list-group-item" })
            

        </ul>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-body">

                @RenderBody()

            </div>

        </div>
    </div>
</div>
@section scripts{

    @RenderSection("scripterino", false)
}