@model THEcapstone.Models.PSViewModel
@{
    ViewBag.Title = "Pet Sitter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sitter Home</h2>

<hr />
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">

            @if (Model.Sitter.ProfileId == null)
            {

                @Html.ActionLink("Create Profile", "CreateProfile", new { id = Model.Sitter.SitterId }, new { @class = "list-group-item" })
            }
            else
            {
                @Html.ActionLink("Home", "Index", new { }, new { @class = "list-group-item" });
                @Html.ActionLink("View Profile", "ViewProfile", new { id = Model.Sitter.ProfileId }, new { @class = "list-group-item" })               
                @Html.ActionLink("Inbox", "Inbox",  new { id = Model.Sitter.SitterId }, new { @class = "list-group-item" })
                @Html.ActionLink("Client Requests", "ClientRequests", new { id = Model.Sitter.SitterId}, new {  @class = "list-group-item"})
                @Html.ActionLink("View Clients", "ViewClients", new { id = Model.Sitter.SitterId } , new { @class = "list-group-item" })

            }

        </ul>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-body">

                @RenderBody()

            </div>

        </div>
    </div>
</div>
@section scripts{

    @RenderSection("scriptsy", false)
}
