@model THEcapstone.Models.DWViewModel
@{
    ViewBag.Title = "Dog Walker Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">

            @if (Model.Walker.ProfileId == null)
            {

                @Html.ActionLink("Create Profile", "CreateProfile", "DogWalker", new { id = Model.Walker.WalkerId }, new { @class = "list-group-item" })
            }
            else
            {
                @Html.ActionLink("Home", "Index", new { }, new { @class = "list-group-item" });
                @Html.ActionLink("View Profile", "ViewProfile",  new { id = Model.Walker.ProfileId }, new { @class = "list-group-item" })
                @Html.ActionLink("Edit Profile", "EditProfile",  new { id = Model.Walker.ProfileId }, new { @class = "list-group-item" }) //edit is weird with viewmodel
                @Html.ActionLink("Inbox", "Inbox",  new { id = Model.Walker.WalkerId}, new { @class = "list-group-item" })
            }

        </ul>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-body">

                @RenderBody()

            </div>

        </div>
    </div>
</div>
@section scripts{

    @RenderSection("scriptsy", false)
}