@model THEcapstone.Models.DWViewModel
@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/Shared/_WalkerLayout.cshtml";
}

<h2>Create Profile</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-md-offset-1">
            @Html.LabelFor(model => model.WalkerProf.WalkerFirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.WalkerProf.WalkerFirstName, new { @class = "form-control" })
            </div>
        </div>
    </div>
        <br />
        <div class="row">
            <div class="form-group col-md-offset-1">
                @Html.LabelFor(model => model.WalkerProf.WalkerLastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.WalkerProf.WalkerLastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
    <div class="row">
        <div class="form-group col-md-offset-1">
            @Html.LabelFor(model => model.WalkerProf.UserDiscription, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.WalkerProf.UserDiscription, 5, 12, new { @class = "form-control" })
            </div>
        </div>
    </div>
        <br />
        
        <div class="row">
            <div class="form-group col-md-offset-1">
                @Html.LabelFor(model => model.WalkerProf.DogTypePreference, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.WalkerProf.DogTypePreference, 5, 12, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />   
        
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" />
                </div>
            </div>
        </div>
}