@model THEcapstone.Models.CustomerSendModel
@{
    ViewBag.Title = "Send Message";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-md-offset-1">
            @if (Model.Vet != null)
            {
            <h4>To: @Model.Vet.VetName</h4>
            }
            else if (Model.Walker != null)
            {
                <h4>To: @Model.Walker.WalkerFirstName @Model.Walker.WalkerLastName</h4>
            }
            else if (Model.Sitter != null)
            {
                <h4>To: @Model.Sitter.SitterFirstName @Model.Sitter.SitterLastName</h4>
            }

            @Html.HiddenFor(u => u.Vet.UserId)
            @Html.HiddenFor(u => u.Cust.UserId)
            @Html.HiddenFor(u => u.UserType)
            @Html.HiddenFor(u => u.Walker.UserId)
            @Html.HiddenFor(u => u.Sitter.UserId)
           
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            @Html.Label("Message:")
            <div class="form-group col-md-10">
                @Html.TextAreaFor(m => m.Msg.MsgText, 5, 12, new { @class = "col-md-2 form-control" })
            </div>
        </div>
    </div>
    <br />
        
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Send" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
}